.movie-detail {
  padding: 10px; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 0.85em; 
}

.ratings {
  margin-top: 5px;
}

.rating-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  padding: 3px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.rating-source,
.rating-value {
  font-size: 0.8em; 
}